<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buxiban.system.mapper.SysDictMapper">

    <resultMap id="BaseResultMap" type="com.buxiban.system.entity.SysDict">
        <id column="id" property="id" javaType="Integer"/>
        <result column="group_key" property="groupKey" javaType="String"/>
        <result column="group_value" property="groupValue" javaType="String"/>
        <result column="is_delete" property="isDelete" javaType="Boolean"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date"/>
    </resultMap>

<!--    <resultMap id="sysDictWithDetailMap" type="com.buxiban.system.entity.dto.SysDictDto">-->
<!--        <id column="did" property="id" javaType="Integer"/>-->
<!--        <result column="group_key" property="groupKey" javaType="String"/>-->
<!--        <result column="group_value" property="groupValue" javaType="String"/>-->
<!--        <result column="is_delete" property="isDelete" javaType="Boolean"/>-->
<!--        <result column="create_time" property="createTime" javaType="java.util.Date"/>-->
<!--        <result column="update_time" property="updateTime" javaType="java.util.Date"/>-->
<!--        <collection property="group_detail" ofType="com.buxiban.system.entity.SysDictDetail">-->
<!--            <id column="ddid" property="id" javaType="Integer"/>-->
<!--            <result column="group_id" property="groupId" javaType="Integer"/>-->
<!--            <result column="key" property="key" javaType="String"/>-->
<!--            <result column="value" property="value" javaType="String"/>-->
<!--            <result column="is_delete" property="isDelete" javaType="Boolean"/>-->
<!--            <result column="create_time" property="createTime" javaType="java.util.Date"/>-->
<!--            <result column="update_time" property="updateTime" javaType="java.util.Date"/>-->
<!--        </collection>-->
<!--    </resultMap>-->

<!--    <select id="selectDetailByDictId" parameterType="Integer" resultMap="sysDictWithDetailMap">-->
<!--        select d.id as did, d.group_key, d.group_value,-->
<!--               dd.id as ddid, dd.group_id, dd.key, dd.value-->
<!--               from sys_dict d-->
<!--        left join sys_dict_detail dd on d.id = dd.group_id-->
<!--        where d.id = #{id}-->
<!--    </select>-->
</mapper>
