<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buxiban.system.mapper.SysDictDetailMapper">
    <resultMap id="BaseResultMap" type="com.buxiban.system.entity.SysDictDetail">
        <id column="id" property="id" javaType="Integer"/>
        <result column="group_id" property="groupId" javaType="Integer"/>
        <result column="key" property="key" javaType="String"/>
        <result column="value" property="value" javaType="String"/>
        <result column="is_delete" property="isDelete" javaType="Boolean"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date"/>
    </resultMap>

</mapper>