<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buxiban.system.mapper.SysPermissionMapper">

    <resultMap id="SysPermissionMap" type="com.buxiban.system.entity.SysPermission">
        <id column="id" property="id" javaType="Integer"/>
        <result column="permission" property="permission" javaType="String"/>
        <result column="description" property="description" javaType="String"/>
        <result column="is_forbid" property="isForbid" javaType="java.lang.Boolean"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date"/>
    </resultMap>

    <sql id="BaseColumn">
        id, permission, `description`, is_forbid, create_time, update_time
    </sql>

    <select id="selectById" parameterType="Integer" resultMap="SysPermissionMap">
        select
        <include refid="BaseColumn"/>
        from sys_permission
        left join sys_role_permission rp on rp.permission_id = sys_permission.id
        where id = #{id}
    </select>

<!--    <select id="selectByRoleId" parameterType="Integer" resultMap="SysPermissionMap">-->
<!--        select-->
<!--        <include refid="BaseColum" />-->
<!--        from sys_permission-->
<!--        left join sys_role_permission rp on rp.permission_id = sys_permission.id-->
<!--        where rp.role_id = {role_id}-->
<!--    </select>-->
</mapper>
